<!DOCTYPE html>
<html>
  <head>
    <title><%= description %></title>
    <link rel='stylesheet' href='/static/css/main.css' />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  </head>
  <body>
    <h1><%= description %></h1>
    <p>Author: <%= author %></p>
    <p>License: <%= license %></p>
    <p>Version: <%= version %></p>
    <p>Uptime: <%= uptime %></p>
    <script src="/static/js/main.js"></script>
  </body>
</html>
